{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>Course</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ course.description }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th>Students</th>
                <td>
                    <ul>
                        {% for student in course.students %}
                            <li>{{ student }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('course_index') }}">back to list</a>

    <a href="{{ path('course_edit', {'id': course.id}) }}">edit</a>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
