{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>
    {{try_session}}
    <table class="table">
        <thead>
            <tr>
                <th>Age</th>
                <th>Photo</th>
                <th>StartDate</th>
                <th>Student Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>User Id</th>
                <th>Courses</th>
                <th>Classes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.age }}</td>
                <td><img width="250px" src="uploads/article_image/{{ student.photo }}"/></td>
                <td>{{ student.startDate ? student.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ student.id }}</td>
                <td>{{ student.user.username }}</td>
                <td>{{ student.user.email }}</td>
                <td>{{ student.user.roles ? student.user.roles|json_encode : '' }}</td>
                <td>{{ student.user.id }}</td>
                <td>
                    <ul>
                    {% for course in student.courses %}
                        <li>{{ course }}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td>{{ student.classes }}</td>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_new') }}">Create new</a>

    <p>This is another paragraph.</p>

    <button>Click me to hide paragraphs</button>
{% endblock %}
