{% form_theme form 'form/david_theme.html.twig' %}

{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
